<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <a class="text-dark" type="submit" [routerLink]="['/home']"><i class="material-icons">arrow_back</i></a>
        <a [routerLink]="['/courses/create']" class="btn btn-primary">Agregar Curso</a>
    </div>
    <h1 class="text-center mt-5">Cursos</h1>

    <section class="table-user mt-5">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha final</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @for (course of courses; track $index) {
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.type }}</td>
                    <td>{{ getPeriodName(course.period_id) }}</td>
                    <td>{{ course.start_date }}</td>
                    <td>{{ course.end_date }}</td>
                    <td>{{ course.status }}</td>
                    <td>{{ course.observations }}</td>
                    @if (course.status === 'ACTIVE') {
                    <td>
                        <a class="btn btn-warning"><i class="material-icons" (click)="closeCourse(course.id || '')">
                                event_busy
                            </i></a>
                    </td>
                    }
                    @if (course.status !== 'ACTIVE') {
                    <td>
                        <a class="btn btn-primary"><i class="material-icons" [routerLink]="['/courses/details', course.id]">
                                visibility
                            </i></a>
                    </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </section>
</div>