<div class="container">
    <h1 class="text-center my-3"> Bienvenido al sistema de gestión</h1>
    <p class="mt-2">Seleccione una de las siguientes opciones:</p>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <a [routerLink]="['/users']" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cursos</h5>
                    <a [routerLink]="['/courses']" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reportes</h5>
                    <a [routerLink]="['/reports']" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>