<div class="container">
    <div class="d-flex justify-content-between mt-4">
        <a class="text-dark" type="submit" [routerLink]="['/home']"><i class="material-icons">arrow_back</i></a>
        <a [routerLink]="['/users/create']" class="btn btn-primary">Agregar Usuario</a>
    </div>
    <h1 class="text-center mt-5">Usuarios del sistema</h1>

    <section class="table-user mt-5">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>correo&#64;correo.com</td>
                    <td>
                        <a [routerLink]="[`/users/${'1'}/roles`]" class="btn btn-success"><i class="material-icons">
                                supervised_user_circle
                            </i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>